<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- FavIcon --}}
  <link rel="shortcut icon" type="image/png" href="/img/focus.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <!-- Custom CSS Styling -->
  {{{customcss}}}
  <title>{{title}}</title>
</head>

<body>
    {{{body}}}
  </div>
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{{customjs}}}

</html>