<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">


        <h2>This is our Home Page!</h2>
        <h1>Just the timer goes here</h1>
        <a href="/signup">Sign Up Here</a>
        <a href="/login">Login Here</a>


      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
