<div class="backgroundImage"></div>
<div id="form">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Please Log In</h2>
                            <form class="login">
                                <div class="form-group">
                                    <label for="Email1">Email address</label>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label for="Password1">Password</label>
                                    <input type="password" class="form-control" id="password" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-default">Login</button>
                            </form>
                            <br />
                            <p>Or sign up <a href="/signup">here</a> or just use the timer <a href="/">here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>