{{!-- Logout function will be here --}}
<h1>This is where the real timer will be</h1>

<a href="/logout">Log Out Here</a>
<!-- START PAGE -->
    <div class="container container-fluid box-style" id="start-page">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Focus!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="my-4">
                <p class="lead">Focus for 52 minutes</p>
                <a class="btn btn-secondary btn-lg" id="start-button" role="button">Start timer</a>
            </div>
        </div>
    </div>

    <!-- FOCUS TIMER PAGE -->
    <div class="container container-fluid box-style" id="focus-timer">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Keep focusing for <span id="focus-time">52:00</span> minutes!</h1>
            </div>
        </div>
    </div>

    <!-- BREAK OPTIONS PAGE -->
    <div class="container container-fluid box-style" id="break-page">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Break Time!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr class="my-4">
                <p class="lead">Here are some suggestions for what to do with your break:</p>
                <a class="btn btn-secondary btn-lg" id="break-button" role="button">Begin Break</a>
            </div>
        </div>
    </div>

    <!-- BREAK TIMER PAGE -->
    <div class="container container-fluid box-style" id="break-timer">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Take a break for <span id="break-time">17:00</span> minutes!</h1>
            </div>
        </div>
    </div>