body {
    background: url(../img/timer.jpg) no-repeat center center fixed;
    background-size: cover;
}
.box-style {
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 50px;
    background: rgba(231, 234, 237, 0.75);
    color: black;
}

#map {
    height: 400px;
}

#new-focus, #break-button, #new-break {
    color: white;
}

#focus-time, #break-time {
    font-size: 8.5rem;
}

#break-timer, #adjust-break-page, #adjust-focus-page, .spotifyDiv, .lofiDiv, #mapHide, #mapDiv, #lofiHide, #spotifyHide, #noCatButton, #hideWorkoutButton, #workoutDiv{
    display: none;
}

#lofiHide, #spotifyHide, #noCatButton, #hideWorkoutButton {
    color: black;
}

.logout {
    font-family: 'Courier New', Courier, monospace;
    float: right;
}
